<footer>
    <div class="footer-wrap">
        <div class="footer-top">
            <a href="#" class="footer-link-top">Home</a>
            <a href="#" class="footer-link-top">Apex Legends Global Series</a>
            <a href="#" class="footer-link-top">About</a>
            <a href="#" class="footer-link-top">Legends</a>
            <a href="#" class="footer-link-top">FAQ</a>
            <a href="#" class="footer-link-top">News</a>
            <a href="#" class="footer-link-top">Media</a>
            <a href="#" class="footer-link-top">Forums</a>
        </div>

        <div class="line"></div>
        <div class="footer-img-wrap">
            <div class="apex-logo"></div>
            <div class="teen"></div>
        </div>
    </div>
</footer>