<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<% var title = "About"; %>
<body>
    <%- include("./partials/nav.ejs") %>
    <section class="banner">
        <video src="/assets/boodhound.mp4" autoplay muted loop></video>
        <div class="teks">
            <h1>APEX</h1>
            <h2>--LEGENDS--</h2>
            <div class="button-wrap">
                <a href="#" class="button-banner">Play Free Now</a>
                <a href="#" class="button-banner">Watch Gameplay Trailer</a>
            </div>
        </div>
    </section>
    <section class="news-overview">
        <div class="card-about">
            <div class="card-about-img"></div>
            <div class="desc">
                <h1>The Legends</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, repudiandae sequi hic repellat, repellendus corporis error dolore facere eaque minima quis ducimus porro ratione quasi omnis numquam molestiae aspernatur sint. Voluptas facilis hic quaerat ipsum consequatur quis qui necessitatibus voluptate.</p>
                <a href="#" class="button-banner">See The Roaster</a>
            </div>
        </div>
        
        <div class="about-foto"></div>
        <h5 class="about-heading">Your Squad</h5>
        <p class="about-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, eveniet blanditiis sapiente omnis repellat similique possimus? Deleniti dolores dignissimos eligendi.</p>
        
        <div class="card-about genap">
            <div class="card-about-img genap"></div>
            <div class="desc">
                <h1>Beyond The Battle Royale</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, repudiandae sequi hic repellat, repellendus corporis error dolore facere eaque minima quis ducimus porro ratione quasi omnis numquam molestiae aspernatur sint. Voluptas facilis hic quaerat ipsum consequatur quis qui necessitatibus voluptate.</p>
                <a href="#" class="button-banner">See The Modes</a>
            </div>
        </div>
    </section>
    
    <section class="invisible-card">
        <div class="inv-card">
            <img src="/assets/card1.jpg" alt=".">
            <h1>Strategic Squad Play</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia est enim quibusdam similique veniam. Impedit ea aliquam corporis hic laboriosam excepturi. Omnis autem consequatur veritatis nihil modi minus dolore voluptate?</p>
        </div>
        <div class="inv-card">
            <img src="/assets/card2.jpg" alt=".">
            <h1>Strategic Squad Play</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia est enim quibusdam similique veniam. Impedit ea aliquam corporis hic laboriosam excepturi. Omnis autem consequatur veritatis nihil modi minus dolore voluptate?</p>
        </div>
        <div class="inv-card">
            <img src="/assets/card3.jpg" alt=".">
            <h1>Strategic Squad Play</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia est enim quibusdam similique veniam. Impedit ea aliquam corporis hic laboriosam excepturi. Omnis autem consequatur veritatis nihil modi minus dolore voluptate?</p>
        </div>
    </section>
    <%- include("./partials/footer.ejs") %>
</body>
</html>