<section class="banner">
  <video src="/assets/boodhound.mp4" autoplay muted loop></video>
  <div class="teks">
    <h1>APEX</h1>
    <h2>--LEGENDS--</h2>

    <div class="button-wrap">
        <a href="#" class="button-banner">Play Free Now</a>
        <a href="#" class="button-banner">Watch Gameplay Trailer</a>
    </div>
  </div>
</section>

<section class="news-overview">
    <div class="card-about">
        <div class="card-about-img">

        </div>
        <div class="desc">
            <h1>The Legends</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur laborum eius tempora eligendi nesciunt excepturi reiciendis reprehenderit beatae! Nemo, placeat.</p>
            <a href="#" class="button-banner">See The Roaster</a>
        </div>
    </div>
</section>