<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body style="background-color: rgb(255, 247, 236) ;">
    <%- include("./partials/nav.ejs") %>

    <div class="create-heading">
      <h1>Create Your Own Blog !</h1>
    </div>

    <div class="create-blog">
      <form method="post" action="/blogs">
        <label for="title">Blog title:</label>
        <input type="text" id="title" name="title" required />
    
        <label for="snippet">Snippet:</label>
        <input type="text" id="snippet" name="snippet" required />
    
        <label for="body">Text:</label>
        <textarea id="body" name="body" required></textarea>
    
        <button type="submit">Submit</button>
      </form>
    </div>
    

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
