<section class="banner">
  <video src="/assets/Apex Gameplay 30s.mp4" autoplay muted loop></video>
  <div class="teks">
    <h1>APEX</h1>
    <h2>--LEGENDS--</h2>

    <div class="button-wrap">
        <a href="#" class="button-banner">Play Free Now</a>
        <a href="#" class="button-banner">Watch Gameplay Trailer</a>
    </div>
  </div>
</section>

<section class="flyer">
    <h1>THE GAMES HAVE A WHOLE NEW ENERGY</h1>
    <p>Drop back into the fight in Apex Legends Shockwave with Revivals, updates to make the Outlands legendary for all, and a new neon playground.</p>
    <a href="" class="button-banner" id="flyer">Tap in</a>
</section>
<section class="news-overview">
  <h1>Latest News</h1>
  <div class="card-wrap">
      <div class="preview">
    <div class="gambar"></div>
    <div class="date">
      <h5 id="game-name">APEX LEGENDS</h5>
      <h5>AGUG 22 2024</h5>
    </div>
    <h2>APEX LEGENDS ANTI-CHEAT</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,animi.</p>
    <div class="strip"></div>
  </div>
  <div class="preview">
    <div class="gambar"></div>
    <div class="date">
      <h5 id="game-name">APEX LEGENDS</h5>
      <h5>AGUG 22 2024</h5>
    </div>
    <h2>APEX LEGENDS ANTI-CHEAT</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,animi.</p>
    <div class="strip"></div>
  </div>
  <div class="preview">
    <div class="gambar"></div>
    <div class="date">
      <h5 id="game-name">APEX LEGENDS</h5>
      <h5>AGUG 22 2024</h5>
    </div>
    <h2>APEX LEGENDS ANTI-CHEAT</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,animi.</p>
    <div class="strip"></div>
  </div>
  </div>
</section>
