@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary: rgb(218, 41, 42);
  --primary-dark: rgb(166, 31, 32);
  --bg: rgb(101, 74, 36);
  --broken-white: rgb(255, 247, 236);
  --gray: rgb(37, 37, 37);
  --dark-gray: rgb(30, 29, 29);
  --strong-red: rgb(254, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Blogs */
body.blogkamu {
  display: flex;
  flex-direction: column;
  min-height: 150vh;
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 1000px;
  max-width: 1200px;
  margin: 7rem auto 10vh;
  flex: 1;
}

.blog p,
.blog h2 {
  text-align: center;
  color: var(--dark-gray);
}

.blog p {
  font-size: 3.5rem;
}

.blog h2 {
  font-size: 4.5rem;
}

.blog a.single,
a.single {
  text-align: center;
  background-color: var(--dark-gray);
  border-radius: 10px;
  border-bottom: 0.8rem solid var(--primary);
}

a.single {
  padding: 30px;
  text-decoration: none;
}

a.single h3,
a.single p {
  color: white;
}

a.single h3 {
  font-size: 2rem;
}

a.single p {
  font-size: 1.5rem;
  text-decoration: none;
}

/* Create Blog */
.create-heading h1 {
  text-align: center;
  color: var(--dark-gray);
  margin-top: 6rem;
  font-size: 4.5rem;
}

.create-blog{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 2rem auto 25vh;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: var(--dark-gray);
  gap: 20px;
}

.create-blog form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.create-blog label,
.details h2 {
  color: white;
  font-size: 1.5rem;
}

.create-blog input[type="text"],
.create-blog textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  background-color: #fff;
}

.create-blog textarea {
  min-height: 150px;
  resize: vertical;
}

.create-blog button {
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}

.create-blog button:hover {
  background-color: var(--primary-dark);
  animation: create-button 0.2s linear;
}

@keyframes create-button {
  0% {
    background-color: var(--primary);
  }
  100% {
    background-color: var(--primary-dark);
  }
}

/* Details */
.details {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 7rem auto 2rem;
  margin-bottom: 2rem;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: var(--dark-gray);
  gap: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.details .content {
  font-size: 1rem;
  line-height: 1.6;
}

.details .content p {
  color: white;
}

.details .delete {
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  max-width: 100px;
  cursor: pointer;
}

.details .delete:hover {
  background-color: #e60000;
}

.content-guidelines {
  margin: 5vh 0 50px;
}

.content-guidelines span {
  color: black;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}

.content-guidelines p {
  color: black;
}

/* Media Queries */
@media (max-width: 1200px) {
  .create-heading h1{
    margin-top: 10rem;
  }

  .create-blog{
    width: 80vw;
  }

  div.blog.content{
    min-width: 80vw;
    max-width: 80vw;
  }

  .blogkamu{
    min-height: 100vh;
  }

  .details {
    margin-top: 9rem;
    width: 80vw;
  }

  body#deleteblog{
    max-width: 100vh;
  }
}

@media (max-width: 758px) {

}

@media (max-width: 450px) {

}
